@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height:100vh;
  font-family: 'Roboto' Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: #000 url('./img/multicolor-drop-2-1056473-1920x1440.jpg') no-repeat;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#FFF;
}

form {
  border: 1px solid #fff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px;
  background: #111;
}

input {
  border-radius: 10px;
  padding: 5px;
  width: 330px;
}

p {
  text-align: start;
  margin-top: 16px;
}

input[type="submit"] {
  margin-top: 16px;
  width: 100px;
  background: #fff;
}

a {
  color: rgb(94, 255, 0);
  font-size: 30px;
  text-decoration: none;
}
a:hover {
  color: rgb(227, 255, 213);
  font-size: 30px;
  background: rgba(31, 74, 168, 0.644);
  border-radius: 10px;
}

#paragrafo{
  background: #000;
}

